<% if (alert) { %>
<div class="container-md my-1">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-dismissible alert-warning fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
    </div>
  </div>
</div>
<% } %>

<div class="container-md mt-1 mb-3">
  <div class="row my-1">
    <div class="col-md-11 mx-auto my-1 px-4">
      <form action="/adjustment" method="post">
        <div class="row">
          <div class="col-md-7">
            <div class="px-3 pb-3">
              <div class="row pb-2 rounded-3 shadow-sm blurred-box">
                <h3 class="mb-2 py-3 px-3 mx-0 rounded-top" style="background-color: rgba(139, 196, 250, 0.863)"><strong>Card Details</strong></h3>
                <% if (data.is_member) { %>
                <div class="mb-1 col-auto">
                  <label for="isMember" class="form-label text-secondary">Member Status</label>
                  <input type="text" class="form-control text-success fw-bolder" id="isMember" name="isMember" value="yes" style="background-color: rgb(216, 216, 216)" readonly />
                </div>
                <% } else { %>
                <div class="mb-1 col-auto">
                  <label for="isMember" class="form-label text-secondary">Member Status</label>
                  <input type="text" class="form-control text-danger fw-bolder" id="isMember" name="isMember" value="no" style="background-color: rgb(216, 216, 216)" readonly />
                </div>
                <% } %> <% if (data.is_active) { %>
                <div class="mb-1 col-auto">
                  <label for="isActive" class="form-label text-secondary">Activation</label>
                  <input type="text" class="form-control text-success fw-bolder" id="isActive" name="isActive" value="active" style="background-color: rgb(216, 216, 216)" readonly />
                </div>
                <% } else { %>
                <div class="mb-1 col-auto">
                  <label for="isActive" class="form-label text-secondary">Activation</label>
                  <input type="text" class="form-control text-danger fw-bolder" id="isActive" name="isActive" value="inactive" style="background-color: rgb(216, 216, 216)" readonly />
                </div>
                <% } %>

                <div class="mb-1">
                  <label for="barcode" class="form-label text-secondary">Barcode</label>
                  <input type="text" class="form-control" id="barcode" name="barcode" style="background-color: rgb(216, 216, 216)" readonly value="<%= data.barcode %>" />
                </div>

                <div class="mb-1">
                  <label for="balance" class="form-label text-secondary">Balance</label>
                  <input type="text" class="form-control" id="balance" name="balance" value="<%= Intl.NumberFormat('en-US').format(data.balance) %>" readonly style="background-color: rgb(216, 216, 216)" />
                </div>
                <% if (data.is_member) { %>
                <div class="mb-2 col-auto">
                  <label for="customerName" class="form-label text-secondary">Name*</label>
                  <input type="text" class="form-control customer-name-input" id="customerName" name="customerName" value="<%= data.customer_name %>" placeholder="ex. John Dalton" readonly style="background-color: rgb(216, 216, 216)" />
                </div>
                <div class="mb-2 col-auto">
                  <label for="customerId" class="form-label text-secondary">ID (Phone Number)*</label>
                  <input type="text" class="form-control customer-name-input" id="customerId" name="customerId" value="<%= data.customer_id %>" placeholder="ex. 08123456789" readonly style="background-color: rgb(216, 216, 216)" />
                </div>
                <% } else { %>
                <div class="mb-2 col-auto">
                  <label for="customerName" class="form-label text-secondary">Name*</label>
                  <input type="text" class="form-control customer-name-input" id="customerName" name="customerName" value="<%= data.customer_name %>" placeholder="ex. John Dalton" readonly style="background-color: rgb(216, 216, 216)" />
                </div>
                <div class="mb-2 col-auto">
                  <label for="customerId" class="form-label text-secondary">ID (Phone Number)*</label>
                  <input type="text" class="form-control customer-name-input" id="customerId" name="customerId" value="<%= data.customer_id %>" placeholder="ex. 08123456789" readonly style="background-color: rgb(216, 216, 216)" />
                </div>
                <% } %> <% if (data.is_member || data.deposit) { %>
                <div class="mb-1 col-auto">
                  <label for="deposit" class="form-label text-secondary">Deposit</label>
                  <input type="number" class="form-control" id="deposit" name="deposit" value="0" readonly style="background-color: rgb(216, 216, 216)" />
                </div>
                <% } else { %>
                <div class="mb-1 col-auto">
                  <label for="deposit" class="form-label text-secondary">Deposit</label>
                  <input type="number" class="form-control" id="deposit" name="deposit" value="5000" required />
                </div>
                <% } %>
              </div>
            </div>
          </div>
          <div class="col-md ms-2">
            <div class="px-3 pb-3">
              <div class="row pb-2">
                <div class="rounded-3 shadow-sm blurred-box mx-2 pb-2 px-0">
                  <h3 class="mb-2 py-3 px-3 mx-0 rounded-top" style="background-color: rgba(139, 196, 250, 0.863)"><strong>Adjust Balance To</strong></h3>

                  <div class="mb-1 mx-2">
                    <label for="adjustedBalance" class="form-label text-secondary">Balance</label>
                    <input type="number" class="form-control" id="adjustedBalance" name="adjustedBalance" required />
                  </div>
                </div>
                <div class="rounded-3 shadow-sm blurred-box mx-2 my-3 pb-2 px-0">
                  <h3 class="mb-2 py-3 px-3 mx-0 rounded-top" style="background-color: rgba(139, 196, 250, 0.863)"><strong>Notes</strong></h3>

                  <div class="mb-1 mx-2">
                    <label for="notes" class="form-label text-secondary">Notes</label>
                    <input type="text" class="form-control" id="notes" name="notes" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-5 multi-button">
          <div class="col-lg-8 mx-auto text-center">
            <a class="button shadow my-3" href="/adjustment/search" role="button">Back</a>

            <button class="button shadow my-3" type="submit">Adjust</button>

            <a class="button shadow my-3" href="/" role="button">Menu</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
