<div class="container my-1">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h3>Card List</h3>
    </div>
  </div>
</div>
<div class="container my-1">
  <div class="row">
    <div class="col-md mx-auto">
      <table class="table table-sm" style="font-size: small">
        <thead>
          <tr class="table-warning">
            <th scope="col">ID</th>
            <th scope="col">Barcode</th>
            <th scope="col">Balance(IDR)</th>
            <th scope="col">Deposit</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Member</th>
            <th scope="col">Activation</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((element,i) => { %> <% if (i % 2 === 0) { %>
          <tr class="table-info">
            <th scope="row"><%= element.id %></th>
            <td><%= element.barcode %></td>
            <td><%= Intl.NumberFormat('en-US').format(element.balance) %></td>
            <td><%= element.deposit %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td><%= element.is_member %></td>
            <td><%= element.is_active %></td>
          </tr>
          <% } else { %>
          <tr class="table-light">
            <th scope="row"><%= element.id %></th>
            <td><%= element.barcode %></td>
            <td><%= Intl.NumberFormat('en-US').format(element.balance) %></td>
            <td><%= element.deposit %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td><%= element.is_member %></td>
            <td><%= element.is_active %></td>
          </tr>
          <% } %> <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row my-5 multi-button">
    <div class="col-md-8 mx-auto text-center">
      <a class="button shadow" href="/advanced" role="button">Back</a>
    </div>
  </div>
</div>
