<div class="container my-1">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h3>Card Logs</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <% if (messages) { %>
      <div class="alert alert-dismissible alert-success fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Congrats!</strong> <%= messages %>
      </div>
      <% } %> <% if (alert) { %>

      <div class="alert alert-dismissible alert-warning fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<div class="container-fluid my-1">
  <div class="row">
    <div class="col-md mx-auto">
      <table class="table" style="font-size: small">
        <thead>
          <tr class="table-warning">
            <th scope="col">ID</th>
            <th scope="col">Barcode</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Admin/Bartender</th>
            <th scope="col">Log</th>
            <th scope="col">Created At</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((element,i) => { %> <% if (i % 2 === 0) { %>
          <tr class="table-info">
            <th scope="row"><%= element.id %></th>
            <td><%= element.barcode %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td><%= element.username %></td>
            <td><%= element.log %></td>
            <td><%= element.created_at %></td>
          </tr>
          <% } else { %>
          <tr class="table-light">
            <th scope="row"><%= element.id %></th>
            <td><%= element.barcode %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td><%= element.username %></td>
            <td><%= element.log %></td>
            <td><%= element.created_at %></td>
          </tr>
          <% } %> <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row my-5 multi-button">
    <div class="col-md-8 mx-auto text-center">
      <a class="button shadow" href="/advanced" role="button">Back</a>
    </div>
  </div>
</div>
