<div class="container-fluid my-2">
  <div class="row">
    <div class="col mx-auto">
      <div class="card">
        <div class="card-body mx-4">
          <div class="container">
            <p class="my-5 mx-5 text-center" style="font-size: 30px">Bill</p>
            <div class="row">
              <table class="table table-sm table-borderless" style="width: 100%">
                <tbody>
                  <tr>
                    <td style="width: 30%">Customer</td>
                    <td><%= data[0].customer_name %></td>
                  </tr>
                  <tr>
                    <td>Invoice</td>
                    <td class="text-muted"><em><%= data[0].invoice_number %></em></td>
                  </tr>
                  <tr>
                    <td>Date</td>
                    <td><%= data[0].created_at %></td>
                  </tr>
                  <tr>
                    <td>Bartender</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <hr />
            </div>
            <% data.forEach(element => { %>
            <div class="row">
              <% if (!element.menu) { %>
              <div class="col-xl-8">
                <p class="m-0">Top-Up</p>
              </div>
              <div class="col-xl-2">
                <p class="m-0">x 1</p>
              </div>
              <% } else { %>
              <div class="col-xl-8">
                <p class="m-0"><%= element.menu %></p>
              </div>
              <div class="col-xl-2">
                <p class="m-0">x <%= element.amount %></p>
              </div>
              <% } %>

              <div class="col-xl-2">
                <p class="float-end number-format-id"><%= Intl.NumberFormat('en-US').format(element.payment) %></p>
              </div>
              <hr />
            </div>

            <% }); %>

            <hr style="border: 2px solid black" />
            <div class="row text-black">
              <div class="col-xl-12">
                <p class="float-end fw-bold"><span>Total: </span><span class="number-format-id"><%= Intl.NumberFormat('en-US').format(paymentSum) %></span></p>
              </div>
              <hr style="border: 2px solid black" />
            </div>
            <div class="text-center" style="margin-top: 90px">
              <a role="button" onclick="window.print()"><u class="text-info">Print</u></a>
              <p>Terima kasih atas kunjungan anda.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
