<div class="container my-1">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h3>Payment List</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <% if (messages) { %>
      <div class="alert alert-dismissible alert-success fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Congrats!</strong> <%= messages %>
      </div>
      <% } %> <% if (alert) { %>

      <div class="alert alert-dismissible alert-warning fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <form action="/payment/download" method="post" class="row g-3 float-end">
        <div class="mb-1 col-md"><p class="m-0">from</p></div>
        <div class="mb-1 col-md">
          <input class="form-control" type="datetime-local" name="archiveFrom" id="archiveFrom" />
        </div>
        <div class="mb-1 col-md"><p class="m-0">to</p></div>
        <div class="mb-1 col-md">
          <input class="form-control" type="datetime-local" name="archiveTo" id="archiveTo" />
        </div>
        <div class="mb-1 col-md"><button type="submit" class="btn btn-info">Download</button></div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid my-1">
  <div class="row">
    <div class="col-md mx-auto">
      <table class="table" style="font-size: small">
        <thead>
          <tr class="table-warning">
            <th scope="col">Served By</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col">Invoice</th>
            <th scope="col">Method</th>
            <th scope="col">Barcode</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Orders</th>
            <th scope="col">Payment(IDR)</th>
            <th scope="col">Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((element,i) => { %> <% if (i % 2 === 0) { %> <% if(element.invoice_status === 'refund') { %>
          <tr class="table-info text-danger">
            <th scope="row"><%= element.served_by %></th>
            <td><%= element.action %></td>
            <td><%= element.invoice_status %></td>
            <td><%= element.invoice_number %></td>
            <td><%= element.payment_method %></td>
            <td><%= element.barcode %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td>
              <button class="btn btn-secondary py-0 px-2 order-detail-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                details
                <input type="hidden" value="<%= element.id %>" />
              </button>
            </td>
            <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
            <td><%= element.created_at.toLocaleString() %></td>
            <td>
              <a class="confirm-button" href="/payment/<%= element.id %>/delete" role="button" title="delete" data-confirm="Are you sure to delete this item?">
                <svg width="25px" height="25px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="Filled_Line" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path d="M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="#F9ED69" id="XMLID_884_" />
                  <path d="M8,7H5C4.448,7,4,7.448,4,8v2h3V8C7,7.448,7.448,7,8,7z" fill="#BBB24F" id="XMLID_394_" />
                  <path d="M27,7h-3c0.552,0,1,0.448,1,1v2h3V8C28,7.448,27.552,7,27,7z" fill="#FBF4A5" id="XMLID_395_" />
                  <path d="M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="#F08A5D" id="XMLID_883_" />
                  <path
                    d="M18.687,24.344c-0.534,0-1.036-0.208-1.414-0.586l-1.586-1.586l-1.586,1.586  c-0.378,0.378-0.88,0.586-1.414,0.586c-0.534,0-1.036-0.208-1.414-0.586s-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414  l1.586-1.586l-1.586-1.586c-0.378-0.378-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414s0.88-0.586,1.414-0.586  c0.534,0,1.036,0.208,1.414,0.586l1.586,1.586l1.586-1.586c0.378-0.378,0.88-0.586,1.414-0.586c0.534,0,1.036,0.208,1.414,0.586  s0.586,0.88,0.586,1.414s-0.208,1.036-0.586,1.414l-1.586,1.586l1.586,1.586c0.378,0.378,0.586,0.88,0.586,1.414  s-0.208,1.036-0.586,1.414S19.222,24.344,18.687,24.344z"
                    fill="#B46846"
                    id="XMLID_396_"
                  />
                  <path
                    d="M19,24c-0.534,0-1.036-0.208-1.414-0.586L16,21.828l-1.586,1.586  C14.036,23.792,13.534,24,13,24s-1.036-0.208-1.414-0.586S11,22.534,11,22s0.208-1.036,0.586-1.414L13.172,19l-1.586-1.586  C11.208,17.036,11,16.534,11,16s0.208-1.036,0.586-1.414S12.466,14,13,14s1.036,0.208,1.414,0.586L16,16.172l1.586-1.586  C17.964,14.208,18.466,14,19,14s1.036,0.208,1.414,0.586S21,15.466,21,16s-0.208,1.036-0.586,1.414L18.828,19l1.586,1.586  C20.792,20.964,21,21.466,21,22s-0.208,1.036-0.586,1.414S19.534,24,19,24z"
                    fill="#FFFFFF"
                    id="XMLID_397_"
                  />
                  <path d="M23,10v17c0,1.105-0.895,2-2,2h2c1.105,0,2-0.895,2-2V10H23z" fill="#F3A17D" id="XMLID_398_" />
                  <path d="M25,12v-2H7v17c0,1.105,0.895,2,2,2V12H25z" fill="#B46846" id="XMLID_399_" />
                  <path d="  M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="none" id="XMLID_882_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M20,7h-8V5c0-1.105,0.895-2,2-2h4c1.105,0,2,0.895,2,2V7z" fill="none" id="XMLID_881_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="none" id="XMLID_877_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path
                    d="M17.414,19l2.293-2.293c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L16,17.586  l-2.293-2.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L14.586,19l-2.293,2.293c-0.391,0.391-0.391,1.023,0,1.414  C12.488,22.902,12.744,23,13,23s0.512-0.098,0.707-0.293L16,20.414l2.293,2.293C18.488,22.902,18.744,23,19,23  s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L17.414,19z"
                    fill="#B83B5E"
                    id="XMLID_430_"
                  />
                  <path d="M19.393,15.638c0.328,0.328,0.378,0.813,0.178,1.204l0.136-0.136  c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-0.291,0.291C18.412,15.247,19.01,15.256,19.393,15.638z" fill="#8A2C47" id="XMLID_431_" />
                  <path d="M13.143,15.638l2.388,2.388l0.455-0.455l-2.279-2.279c-0.391-0.391-1.023-0.391-1.414,0  c-0.021,0.021-0.029,0.049-0.048,0.072C12.563,15.314,12.898,15.393,13.143,15.638z" fill="#8A2C47" id="XMLID_432_" />
                  <path d="M17.459,19.045L17.004,19.5l2.389,2.388c0.23,0.23,0.315,0.538,0.285,0.838  c0.009-0.008,0.02-0.011,0.029-0.019c0.391-0.391,0.391-1.023,0-1.414L17.459,19.045z" fill="#8A2C47" id="XMLID_433_" />
                </svg>
              </a>
              <% if(element.action === 'pay' && element.invoice_status === 'paid') { %>
              <button class="bg-transparent border-0 px-0 py-0 mx-1 refund-button" data-bs-toggle="modal" data-bs-target="#refundModal" disabled>
                <svg fill="#000000" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 193.769 193.769" xml:space="preserve">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <g>
                        <g>
                          <path
                            d="M149.203,41.104l-9.348,12.009c20.15,15.679,30.201,41.063,26.234,66.253c-2.906,18.484-12.838,34.73-27.964,45.748 c-15.131,11.012-33.64,15.488-52.124,12.567c-38.157-6.008-64.32-41.938-58.322-80.098C30.585,79.097,40.52,62.85,55.648,51.835 c13.208-9.615,28.991-14.233,45.086-13.317L87.579,52.319l9.759,9.313l20.766-21.801l0.005,0.008l9.303-9.769l-9.752-9.303 l-0.005,0.003L95.862,0l-9.31,9.769l14.2,13.525c-19.303-0.913-38.21,4.702-54.059,16.242 C28.28,52.943,16.19,72.717,12.65,95.221c-7.302,46.445,24.54,90.184,70.985,97.493c4.489,0.708,8.976,1.055,13.434,1.055 c17.89,0,35.273-5.623,50.011-16.356c18.415-13.409,30.503-33.183,34.043-55.682C185.952,91.077,173.72,60.181,149.203,41.104z"
                          ></path>
                          <path
                            d="M105.24,151.971v-0.003h0.001v-8.757c10.383-1.159,20.485-7.718,20.485-20.17c0-16.919-15.732-18.859-27.223-20.274 c-7.347-0.878-12.97-1.897-12.97-6.348c0-6.188,8.722-6.855,12.473-6.855c5.567,0,11.507,2.617,13.525,5.957l0.586,0.971 l11.542-5.341l-0.571-1.164c-4.301-8.793-12.009-11.337-17.85-12.364v-7.71H91.723v7.677 c-12.582,1.856-20.054,8.839-20.054,18.829c0,16.29,14.791,17.943,25.582,19.153c9.617,1.134,14.094,3.51,14.094,7.469 c0,7.563-10.474,8.154-13.685,8.154c-7.147,0-14.038-3.566-16.031-8.301l-0.495-1.169l-12.539,5.316l0.5,1.169 c3.713,8.691,11.725,14.137,22.63,15.425v8.336H105.24z"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <input type="hidden" value="<%= element.id %>" id="paymentId" />
                <input type="hidden" value="<%= element.invoice_number %>" id="invoiceNumber" />
                <input type="hidden" value="<%= element.barcode %>" id="barcode" />
                <input type="hidden" value="<%= element.customer_name %>" id="customerName" />
                <input type="hidden" value="<%= element.customer_id %>" id="customerId" />
                <input type="hidden" value="<%= element.payment %>" id="payment" />
              </button>
              <% } %>
            </td>
          </tr>
          <% } else { %>
          <tr class="table-info">
            <th scope="row"><%= element.served_by %></th>
            <td><%= element.action %></td>
            <td><%= element.invoice_status %></td>
            <td><%= element.invoice_number %></td>
            <td><%= element.payment_method %></td>
            <td><%= element.barcode %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td>
              <button class="btn btn-secondary py-0 px-2 order-detail-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                details
                <input type="hidden" value="<%= element.id %>" />
              </button>
            </td>
            <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
            <td><%= element.created_at.toLocaleString() %></td>
            <td>
              <a class="confirm-button" href="/payment/<%= element.id %>/delete" role="button" title="delete" data-confirm="Are you sure to delete this item?">
                <svg width="25px" height="25px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="Filled_Line" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path d="M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="#F9ED69" id="XMLID_884_" />
                  <path d="M8,7H5C4.448,7,4,7.448,4,8v2h3V8C7,7.448,7.448,7,8,7z" fill="#BBB24F" id="XMLID_394_" />
                  <path d="M27,7h-3c0.552,0,1,0.448,1,1v2h3V8C28,7.448,27.552,7,27,7z" fill="#FBF4A5" id="XMLID_395_" />
                  <path d="M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="#F08A5D" id="XMLID_883_" />
                  <path
                    d="M18.687,24.344c-0.534,0-1.036-0.208-1.414-0.586l-1.586-1.586l-1.586,1.586  c-0.378,0.378-0.88,0.586-1.414,0.586c-0.534,0-1.036-0.208-1.414-0.586s-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414  l1.586-1.586l-1.586-1.586c-0.378-0.378-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414s0.88-0.586,1.414-0.586  c0.534,0,1.036,0.208,1.414,0.586l1.586,1.586l1.586-1.586c0.378-0.378,0.88-0.586,1.414-0.586c0.534,0,1.036,0.208,1.414,0.586  s0.586,0.88,0.586,1.414s-0.208,1.036-0.586,1.414l-1.586,1.586l1.586,1.586c0.378,0.378,0.586,0.88,0.586,1.414  s-0.208,1.036-0.586,1.414S19.222,24.344,18.687,24.344z"
                    fill="#B46846"
                    id="XMLID_396_"
                  />
                  <path
                    d="M19,24c-0.534,0-1.036-0.208-1.414-0.586L16,21.828l-1.586,1.586  C14.036,23.792,13.534,24,13,24s-1.036-0.208-1.414-0.586S11,22.534,11,22s0.208-1.036,0.586-1.414L13.172,19l-1.586-1.586  C11.208,17.036,11,16.534,11,16s0.208-1.036,0.586-1.414S12.466,14,13,14s1.036,0.208,1.414,0.586L16,16.172l1.586-1.586  C17.964,14.208,18.466,14,19,14s1.036,0.208,1.414,0.586S21,15.466,21,16s-0.208,1.036-0.586,1.414L18.828,19l1.586,1.586  C20.792,20.964,21,21.466,21,22s-0.208,1.036-0.586,1.414S19.534,24,19,24z"
                    fill="#FFFFFF"
                    id="XMLID_397_"
                  />
                  <path d="M23,10v17c0,1.105-0.895,2-2,2h2c1.105,0,2-0.895,2-2V10H23z" fill="#F3A17D" id="XMLID_398_" />
                  <path d="M25,12v-2H7v17c0,1.105,0.895,2,2,2V12H25z" fill="#B46846" id="XMLID_399_" />
                  <path d="  M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="none" id="XMLID_882_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M20,7h-8V5c0-1.105,0.895-2,2-2h4c1.105,0,2,0.895,2,2V7z" fill="none" id="XMLID_881_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="none" id="XMLID_877_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path
                    d="M17.414,19l2.293-2.293c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L16,17.586  l-2.293-2.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L14.586,19l-2.293,2.293c-0.391,0.391-0.391,1.023,0,1.414  C12.488,22.902,12.744,23,13,23s0.512-0.098,0.707-0.293L16,20.414l2.293,2.293C18.488,22.902,18.744,23,19,23  s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L17.414,19z"
                    fill="#B83B5E"
                    id="XMLID_430_"
                  />
                  <path d="M19.393,15.638c0.328,0.328,0.378,0.813,0.178,1.204l0.136-0.136  c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-0.291,0.291C18.412,15.247,19.01,15.256,19.393,15.638z" fill="#8A2C47" id="XMLID_431_" />
                  <path d="M13.143,15.638l2.388,2.388l0.455-0.455l-2.279-2.279c-0.391-0.391-1.023-0.391-1.414,0  c-0.021,0.021-0.029,0.049-0.048,0.072C12.563,15.314,12.898,15.393,13.143,15.638z" fill="#8A2C47" id="XMLID_432_" />
                  <path d="M17.459,19.045L17.004,19.5l2.389,2.388c0.23,0.23,0.315,0.538,0.285,0.838  c0.009-0.008,0.02-0.011,0.029-0.019c0.391-0.391,0.391-1.023,0-1.414L17.459,19.045z" fill="#8A2C47" id="XMLID_433_" />
                </svg>
              </a>
              <% if(element.action === 'pay' && element.invoice_status === 'paid') { %>
              <button class="bg-transparent border-0 px-0 py-0 mx-1 refund-button" data-bs-toggle="modal" data-bs-target="#refundModal" disabled>
                <svg fill="#000000" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 193.769 193.769" xml:space="preserve">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <g>
                        <g>
                          <path
                            d="M149.203,41.104l-9.348,12.009c20.15,15.679,30.201,41.063,26.234,66.253c-2.906,18.484-12.838,34.73-27.964,45.748 c-15.131,11.012-33.64,15.488-52.124,12.567c-38.157-6.008-64.32-41.938-58.322-80.098C30.585,79.097,40.52,62.85,55.648,51.835 c13.208-9.615,28.991-14.233,45.086-13.317L87.579,52.319l9.759,9.313l20.766-21.801l0.005,0.008l9.303-9.769l-9.752-9.303 l-0.005,0.003L95.862,0l-9.31,9.769l14.2,13.525c-19.303-0.913-38.21,4.702-54.059,16.242 C28.28,52.943,16.19,72.717,12.65,95.221c-7.302,46.445,24.54,90.184,70.985,97.493c4.489,0.708,8.976,1.055,13.434,1.055 c17.89,0,35.273-5.623,50.011-16.356c18.415-13.409,30.503-33.183,34.043-55.682C185.952,91.077,173.72,60.181,149.203,41.104z"
                          ></path>
                          <path
                            d="M105.24,151.971v-0.003h0.001v-8.757c10.383-1.159,20.485-7.718,20.485-20.17c0-16.919-15.732-18.859-27.223-20.274 c-7.347-0.878-12.97-1.897-12.97-6.348c0-6.188,8.722-6.855,12.473-6.855c5.567,0,11.507,2.617,13.525,5.957l0.586,0.971 l11.542-5.341l-0.571-1.164c-4.301-8.793-12.009-11.337-17.85-12.364v-7.71H91.723v7.677 c-12.582,1.856-20.054,8.839-20.054,18.829c0,16.29,14.791,17.943,25.582,19.153c9.617,1.134,14.094,3.51,14.094,7.469 c0,7.563-10.474,8.154-13.685,8.154c-7.147,0-14.038-3.566-16.031-8.301l-0.495-1.169l-12.539,5.316l0.5,1.169 c3.713,8.691,11.725,14.137,22.63,15.425v8.336H105.24z"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <input type="hidden" value="<%= element.id %>" id="paymentId" />
                <input type="hidden" value="<%= element.invoice_number %>" id="invoiceNumber" />
                <input type="hidden" value="<%= element.barcode %>" id="barcode" />
                <input type="hidden" value="<%= element.customer_name %>" id="customerName" />
                <input type="hidden" value="<%= element.customer_id %>" id="customerId" />
                <input type="hidden" value="<%= element.payment %>" id="payment" />
              </button>
              <% } %>
            </td>
          </tr>
          <% } %> <% } else { %> <% if(element.invoice_status === 'refund') { %>
          <tr class="table-light text-danger">
            <th scope="row"><%= element.served_by %></th>
            <td><%= element.action %></td>
            <td><%= element.invoice_status %></td>
            <td><%= element.invoice_number %></td>
            <td><%= element.payment_method %></td>
            <td><%= element.barcode %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td>
              <button class="btn btn-secondary py-0 px-2 order-detail-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                details
                <input type="hidden" value="<%= element.id %>" />
              </button>
            </td>
            <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
            <td><%= element.created_at.toLocaleString() %></td>
            <td>
              <a class="confirm-button" href="/payment/<%= element.id %>/delete" role="button" title="delete" data-confirm="Are you sure to delete this item?">
                <svg width="25px" height="25px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="Filled_Line" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path d="M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="#F9ED69" id="XMLID_884_" />
                  <path d="M8,7H5C4.448,7,4,7.448,4,8v2h3V8C7,7.448,7.448,7,8,7z" fill="#BBB24F" id="XMLID_394_" />
                  <path d="M27,7h-3c0.552,0,1,0.448,1,1v2h3V8C28,7.448,27.552,7,27,7z" fill="#FBF4A5" id="XMLID_395_" />
                  <path d="M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="#F08A5D" id="XMLID_883_" />
                  <path
                    d="M18.687,24.344c-0.534,0-1.036-0.208-1.414-0.586l-1.586-1.586l-1.586,1.586  c-0.378,0.378-0.88,0.586-1.414,0.586c-0.534,0-1.036-0.208-1.414-0.586s-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414  l1.586-1.586l-1.586-1.586c-0.378-0.378-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414s0.88-0.586,1.414-0.586  c0.534,0,1.036,0.208,1.414,0.586l1.586,1.586l1.586-1.586c0.378-0.378,0.88-0.586,1.414-0.586c0.534,0,1.036,0.208,1.414,0.586  s0.586,0.88,0.586,1.414s-0.208,1.036-0.586,1.414l-1.586,1.586l1.586,1.586c0.378,0.378,0.586,0.88,0.586,1.414  s-0.208,1.036-0.586,1.414S19.222,24.344,18.687,24.344z"
                    fill="#B46846"
                    id="XMLID_396_"
                  />
                  <path
                    d="M19,24c-0.534,0-1.036-0.208-1.414-0.586L16,21.828l-1.586,1.586  C14.036,23.792,13.534,24,13,24s-1.036-0.208-1.414-0.586S11,22.534,11,22s0.208-1.036,0.586-1.414L13.172,19l-1.586-1.586  C11.208,17.036,11,16.534,11,16s0.208-1.036,0.586-1.414S12.466,14,13,14s1.036,0.208,1.414,0.586L16,16.172l1.586-1.586  C17.964,14.208,18.466,14,19,14s1.036,0.208,1.414,0.586S21,15.466,21,16s-0.208,1.036-0.586,1.414L18.828,19l1.586,1.586  C20.792,20.964,21,21.466,21,22s-0.208,1.036-0.586,1.414S19.534,24,19,24z"
                    fill="#FFFFFF"
                    id="XMLID_397_"
                  />
                  <path d="M23,10v17c0,1.105-0.895,2-2,2h2c1.105,0,2-0.895,2-2V10H23z" fill="#F3A17D" id="XMLID_398_" />
                  <path d="M25,12v-2H7v17c0,1.105,0.895,2,2,2V12H25z" fill="#B46846" id="XMLID_399_" />
                  <path d="  M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="none" id="XMLID_882_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M20,7h-8V5c0-1.105,0.895-2,2-2h4c1.105,0,2,0.895,2,2V7z" fill="none" id="XMLID_881_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="none" id="XMLID_877_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path
                    d="M17.414,19l2.293-2.293c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L16,17.586  l-2.293-2.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L14.586,19l-2.293,2.293c-0.391,0.391-0.391,1.023,0,1.414  C12.488,22.902,12.744,23,13,23s0.512-0.098,0.707-0.293L16,20.414l2.293,2.293C18.488,22.902,18.744,23,19,23  s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L17.414,19z"
                    fill="#B83B5E"
                    id="XMLID_430_"
                  />
                  <path d="M19.393,15.638c0.328,0.328,0.378,0.813,0.178,1.204l0.136-0.136  c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-0.291,0.291C18.412,15.247,19.01,15.256,19.393,15.638z" fill="#8A2C47" id="XMLID_431_" />
                  <path d="M13.143,15.638l2.388,2.388l0.455-0.455l-2.279-2.279c-0.391-0.391-1.023-0.391-1.414,0  c-0.021,0.021-0.029,0.049-0.048,0.072C12.563,15.314,12.898,15.393,13.143,15.638z" fill="#8A2C47" id="XMLID_432_" />
                  <path d="M17.459,19.045L17.004,19.5l2.389,2.388c0.23,0.23,0.315,0.538,0.285,0.838  c0.009-0.008,0.02-0.011,0.029-0.019c0.391-0.391,0.391-1.023,0-1.414L17.459,19.045z" fill="#8A2C47" id="XMLID_433_" />
                </svg>
              </a>
              <% if(element.action === 'pay' && element.invoice_status === 'paid') { %>
              <button class="bg-transparent border-0 px-0 py-0 mx-1 refund-button" data-bs-toggle="modal" data-bs-target="#refundModal" disabled>
                <svg fill="#000000" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 193.769 193.769" xml:space="preserve">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <g>
                        <g>
                          <path
                            d="M149.203,41.104l-9.348,12.009c20.15,15.679,30.201,41.063,26.234,66.253c-2.906,18.484-12.838,34.73-27.964,45.748 c-15.131,11.012-33.64,15.488-52.124,12.567c-38.157-6.008-64.32-41.938-58.322-80.098C30.585,79.097,40.52,62.85,55.648,51.835 c13.208-9.615,28.991-14.233,45.086-13.317L87.579,52.319l9.759,9.313l20.766-21.801l0.005,0.008l9.303-9.769l-9.752-9.303 l-0.005,0.003L95.862,0l-9.31,9.769l14.2,13.525c-19.303-0.913-38.21,4.702-54.059,16.242 C28.28,52.943,16.19,72.717,12.65,95.221c-7.302,46.445,24.54,90.184,70.985,97.493c4.489,0.708,8.976,1.055,13.434,1.055 c17.89,0,35.273-5.623,50.011-16.356c18.415-13.409,30.503-33.183,34.043-55.682C185.952,91.077,173.72,60.181,149.203,41.104z"
                          ></path>
                          <path
                            d="M105.24,151.971v-0.003h0.001v-8.757c10.383-1.159,20.485-7.718,20.485-20.17c0-16.919-15.732-18.859-27.223-20.274 c-7.347-0.878-12.97-1.897-12.97-6.348c0-6.188,8.722-6.855,12.473-6.855c5.567,0,11.507,2.617,13.525,5.957l0.586,0.971 l11.542-5.341l-0.571-1.164c-4.301-8.793-12.009-11.337-17.85-12.364v-7.71H91.723v7.677 c-12.582,1.856-20.054,8.839-20.054,18.829c0,16.29,14.791,17.943,25.582,19.153c9.617,1.134,14.094,3.51,14.094,7.469 c0,7.563-10.474,8.154-13.685,8.154c-7.147,0-14.038-3.566-16.031-8.301l-0.495-1.169l-12.539,5.316l0.5,1.169 c3.713,8.691,11.725,14.137,22.63,15.425v8.336H105.24z"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <input type="hidden" value="<%= element.id %>" id="paymentId" />
                <input type="hidden" value="<%= element.invoice_number %>" id="invoiceNumber" />
                <input type="hidden" value="<%= element.barcode %>" id="barcode" />
                <input type="hidden" value="<%= element.customer_name %>" id="customerName" />
                <input type="hidden" value="<%= element.customer_id %>" id="customerId" />
                <input type="hidden" value="<%= element.payment %>" id="payment" />
              </button>
              <% } %>
            </td>
          </tr>
          <% } else { %>
          <tr class="table-light">
            <th scope="row"><%= element.served_by %></th>
            <td><%= element.action %></td>
            <td><%= element.invoice_status %></td>
            <td><%= element.invoice_number %></td>
            <td><%= element.payment_method %></td>
            <td><%= element.barcode %></td>
            <td><%= element.customer_name %></td>
            <td><%= element.customer_id %></td>
            <td>
              <button class="btn btn-secondary py-0 px-2 order-detail-button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                details
                <input type="hidden" value="<%= element.id %>" />
              </button>
            </td>
            <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
            <td><%= element.created_at.toLocaleString() %></td>
            <td>
              <a class="confirm-button" href="/payment/<%= element.id %>/delete" role="button" title="delete" data-confirm="Are you sure to delete this item?">
                <svg width="25px" height="25px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" id="Filled_Line" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <path d="M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="#F9ED69" id="XMLID_884_" />
                  <path d="M8,7H5C4.448,7,4,7.448,4,8v2h3V8C7,7.448,7.448,7,8,7z" fill="#BBB24F" id="XMLID_394_" />
                  <path d="M27,7h-3c0.552,0,1,0.448,1,1v2h3V8C28,7.448,27.552,7,27,7z" fill="#FBF4A5" id="XMLID_395_" />
                  <path d="M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="#F08A5D" id="XMLID_883_" />
                  <path
                    d="M18.687,24.344c-0.534,0-1.036-0.208-1.414-0.586l-1.586-1.586l-1.586,1.586  c-0.378,0.378-0.88,0.586-1.414,0.586c-0.534,0-1.036-0.208-1.414-0.586s-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414  l1.586-1.586l-1.586-1.586c-0.378-0.378-0.586-0.88-0.586-1.414s0.208-1.036,0.586-1.414s0.88-0.586,1.414-0.586  c0.534,0,1.036,0.208,1.414,0.586l1.586,1.586l1.586-1.586c0.378-0.378,0.88-0.586,1.414-0.586c0.534,0,1.036,0.208,1.414,0.586  s0.586,0.88,0.586,1.414s-0.208,1.036-0.586,1.414l-1.586,1.586l1.586,1.586c0.378,0.378,0.586,0.88,0.586,1.414  s-0.208,1.036-0.586,1.414S19.222,24.344,18.687,24.344z"
                    fill="#B46846"
                    id="XMLID_396_"
                  />
                  <path
                    d="M19,24c-0.534,0-1.036-0.208-1.414-0.586L16,21.828l-1.586,1.586  C14.036,23.792,13.534,24,13,24s-1.036-0.208-1.414-0.586S11,22.534,11,22s0.208-1.036,0.586-1.414L13.172,19l-1.586-1.586  C11.208,17.036,11,16.534,11,16s0.208-1.036,0.586-1.414S12.466,14,13,14s1.036,0.208,1.414,0.586L16,16.172l1.586-1.586  C17.964,14.208,18.466,14,19,14s1.036,0.208,1.414,0.586S21,15.466,21,16s-0.208,1.036-0.586,1.414L18.828,19l1.586,1.586  C20.792,20.964,21,21.466,21,22s-0.208,1.036-0.586,1.414S19.534,24,19,24z"
                    fill="#FFFFFF"
                    id="XMLID_397_"
                  />
                  <path d="M23,10v17c0,1.105-0.895,2-2,2h2c1.105,0,2-0.895,2-2V10H23z" fill="#F3A17D" id="XMLID_398_" />
                  <path d="M25,12v-2H7v17c0,1.105,0.895,2,2,2V12H25z" fill="#B46846" id="XMLID_399_" />
                  <path d="  M25,10H7v17c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V10z" fill="none" id="XMLID_882_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M20,7h-8V5c0-1.105,0.895-2,2-2h4c1.105,0,2,0.895,2,2V7z" fill="none" id="XMLID_881_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path d="  M28,10H4V8c0-0.552,0.448-1,1-1h22c0.552,0,1,0.448,1,1V10z" fill="none" id="XMLID_877_" stroke="#200F60" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2" />
                  <path
                    d="M17.414,19l2.293-2.293c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0L16,17.586  l-2.293-2.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L14.586,19l-2.293,2.293c-0.391,0.391-0.391,1.023,0,1.414  C12.488,22.902,12.744,23,13,23s0.512-0.098,0.707-0.293L16,20.414l2.293,2.293C18.488,22.902,18.744,23,19,23  s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L17.414,19z"
                    fill="#B83B5E"
                    id="XMLID_430_"
                  />
                  <path d="M19.393,15.638c0.328,0.328,0.378,0.813,0.178,1.204l0.136-0.136  c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-0.291,0.291C18.412,15.247,19.01,15.256,19.393,15.638z" fill="#8A2C47" id="XMLID_431_" />
                  <path d="M13.143,15.638l2.388,2.388l0.455-0.455l-2.279-2.279c-0.391-0.391-1.023-0.391-1.414,0  c-0.021,0.021-0.029,0.049-0.048,0.072C12.563,15.314,12.898,15.393,13.143,15.638z" fill="#8A2C47" id="XMLID_432_" />
                  <path d="M17.459,19.045L17.004,19.5l2.389,2.388c0.23,0.23,0.315,0.538,0.285,0.838  c0.009-0.008,0.02-0.011,0.029-0.019c0.391-0.391,0.391-1.023,0-1.414L17.459,19.045z" fill="#8A2C47" id="XMLID_433_" />
                </svg>
              </a>
              <% if(element.action === 'pay' && element.invoice_status === 'paid') { %>
              <button class="bg-transparent border-0 px-0 py-0 mx-1 refund-button" data-bs-toggle="modal" data-bs-target="#refundModal" disabled>
                <svg fill="#000000" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 193.769 193.769" xml:space="preserve">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <g>
                        <g>
                          <path
                            d="M149.203,41.104l-9.348,12.009c20.15,15.679,30.201,41.063,26.234,66.253c-2.906,18.484-12.838,34.73-27.964,45.748 c-15.131,11.012-33.64,15.488-52.124,12.567c-38.157-6.008-64.32-41.938-58.322-80.098C30.585,79.097,40.52,62.85,55.648,51.835 c13.208-9.615,28.991-14.233,45.086-13.317L87.579,52.319l9.759,9.313l20.766-21.801l0.005,0.008l9.303-9.769l-9.752-9.303 l-0.005,0.003L95.862,0l-9.31,9.769l14.2,13.525c-19.303-0.913-38.21,4.702-54.059,16.242 C28.28,52.943,16.19,72.717,12.65,95.221c-7.302,46.445,24.54,90.184,70.985,97.493c4.489,0.708,8.976,1.055,13.434,1.055 c17.89,0,35.273-5.623,50.011-16.356c18.415-13.409,30.503-33.183,34.043-55.682C185.952,91.077,173.72,60.181,149.203,41.104z"
                          ></path>
                          <path
                            d="M105.24,151.971v-0.003h0.001v-8.757c10.383-1.159,20.485-7.718,20.485-20.17c0-16.919-15.732-18.859-27.223-20.274 c-7.347-0.878-12.97-1.897-12.97-6.348c0-6.188,8.722-6.855,12.473-6.855c5.567,0,11.507,2.617,13.525,5.957l0.586,0.971 l11.542-5.341l-0.571-1.164c-4.301-8.793-12.009-11.337-17.85-12.364v-7.71H91.723v7.677 c-12.582,1.856-20.054,8.839-20.054,18.829c0,16.29,14.791,17.943,25.582,19.153c9.617,1.134,14.094,3.51,14.094,7.469 c0,7.563-10.474,8.154-13.685,8.154c-7.147,0-14.038-3.566-16.031-8.301l-0.495-1.169l-12.539,5.316l0.5,1.169 c3.713,8.691,11.725,14.137,22.63,15.425v8.336H105.24z"
                          ></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
                <input type="hidden" value="<%= element.id %>" id="paymentId" />
                <input type="hidden" value="<%= element.invoice_number %>" id="invoiceNumber" />
                <input type="hidden" value="<%= element.barcode %>" id="barcode" />
                <input type="hidden" value="<%= element.customer_name %>" id="customerName" />
                <input type="hidden" value="<%= element.customer_id %>" id="customerId" />
                <input type="hidden" value="<%= element.payment %>" id="payment" />
              </button>
              <% } %>
            </td>
          </tr>
          <% } %> <% } %> <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md">
      <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <% if (page === '1') { %>
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=<%= parseInt(page,10) - 1 %>">Previous</a>
          </li>
          <% } %> <% if (page === '1') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">1</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=1">1</a>
          </li>
          <% } %> <% if (page === '2') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">2</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=2">2</a>
          </li>
          <% } %> <% if (page === '3') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">3</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=3">3</a>
          </li>
          <% } %> <% if (page === '4') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">4</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=4">4</a>
          </li>
          <% } %> <% if (page === '5') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">5</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=5">5</a>
          </li>
          <% } %> <% if (page === '6') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">6</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=6">6</a>
          </li>
          <% } %> <% if (page === '7') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">7</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=7">7</a>
          </li>
          <% } %> <% if (page === '8') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">8</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=8">8</a>
          </li>
          <% } %> <% if (page === '9') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">9</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=9">9</a>
          </li>
          <% } %> <% if (page === '10') { %>
          <li class="page-item active" aria-current="page">
            <span class="page-link">10</span>
          </li>
          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=10">10</a>
          </li>
          <% } %> <% if (page === '10') { %>
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>

          <% } else { %>
          <li class="page-item">
            <a class="page-link" href="/payment/list?page=<%= parseInt(page,10) + 1 %>">Next</a>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row my-5 multi-button">
    <div class="col-md-8 mx-auto text-center">
      <a class="button shadow" href="/advanced" role="button">Back</a>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end px-3" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 35%">
  <div class="offcanvas-header">
    <h3 id="offcanvasRightLabel"></h3>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="col-md">
        <h5>Cashier</h5>
        <div class="input-group mb-3">
          <span class="input-group-text">Served By</span>
          <input type="text" class="form-control" id="servedBy" disabled />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Invoice</span>
          <input type="text" class="form-control" id="invoiceNumber" disabled />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Method</span>
          <input type="text" class="form-control" id="paymentMethod" disabled />
        </div>
        <h5>Customer</h5>
        <div class="input-group mb-3">
          <span class="input-group-text">Name</span>
          <input type="text" class="form-control" id="customerName" disabled />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">ID</span>
          <input type="text" class="form-control" id="customerId" disabled />
        </div>
        <h5>Card</h5>
        <div class="input-group mb-3">
          <span class="input-group-text">Barcode</span>
          <input type="text" class="form-control" id="barcode" disabled />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Total Payment</span>
          <input type="text" class="form-control" id="payment" disabled />
        </div>
      </div>
    </div>
    <h5 class="order-header">Orders</h5>
    <table class="table border-dark orders">
      <thead>
        <tr class="table-secondary">
          <th scope="col">Name</th>
          <th scope="col">Variant</th>
          <th scope="col">Amount</th>
          <th scope="col">Discount</th>
        </tr>
      </thead>
      <tbody class="order-body"></tbody>
    </table>

    <div class="row mt-5 mb-3" style="opacity: 0.5">
      <div class="col-md d-flex">
        <div class="px-2 on-progress">Upcoming</div>
        <h5 class="mx-1">Send To The Customer</h5>
      </div>
      <div class="d-flex flex-row send-to-customer"></div>
    </div>

    <button class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Back</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="refundModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/payment/list/refund" method="post">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="refundModalLabel">Refund Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">Invoice Number</span>
            <input type="text" class="form-control modal-invoice-number" aria-label="InvoiceNumber" name="invoiceNumber" readonly />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Card</span>
            <input type="text" class="form-control modal-barcode" aria-label="Card" name="barcode" readonly />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Customer Name</span>
            <input type="text" class="form-control modal-customer-name" aria-label="CustomerName" name="customerName" readonly />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Customer ID</span>
            <input type="text" class="form-control modal-customer-id" aria-label="CustomerId" name="customerId" readonly />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Total Payment</span>
            <input type="number" class="form-control modal-payment" aria-label="TotalPayment" name="refund" readonly />
            <input type="hidden" class="form-control modal-id" name="paymentId" />
          </div>
          <p class="mt-5">Refund required Server Code to confirm.</p>
          <div class="input-group mb-3">
            <span class="input-group-text">Server Code</span>
            <input type="password" class="form-control modal-server-code" aria-label="ServerCode" name="serverCode" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Refund</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const offcanvasRight = document.querySelector('#offcanvasRight');
  const servedBy = offcanvasRight.querySelector('#servedBy');
  const invoiceNumber = offcanvasRight.querySelector('#invoiceNumber');
  const paymentMethod = offcanvasRight.querySelector('#paymentMethod');
  const customerName = offcanvasRight.querySelector('#customerName');
  const customerId = offcanvasRight.querySelector('#customerId');
  const barcode = offcanvasRight.querySelector('#barcode');
  const payment = offcanvasRight.querySelector('#payment');
  const sendToCustomer = offcanvasRight.querySelector('.send-to-customer');

  const orders = offcanvasRight.querySelector('.orders');
  const orderDetailButtons = document.querySelectorAll('.order-detail-button');
  const tableBody = offcanvasRight.querySelector('.order-body');
  const offcanvasHeader = offcanvasRight.querySelector('#offcanvasRightLabel');
  const orderHeader = offcanvasRight.querySelector('.order-header');

  const refundButtons = document.querySelectorAll('.refund-button');
  const refundModal = document.querySelector('#refundModal');
  const modalInvoiceNumber = refundModal.querySelector('.modal-invoice-number');
  const modalBarcode = refundModal.querySelector('.modal-barcode');
  const modalCustomerName = refundModal.querySelector('.modal-customer-name');
  const modalCustomerId = refundModal.querySelector('.modal-customer-id');
  const modalPayment = refundModal.querySelector('.modal-payment');
  const modalPaymentId = refundModal.querySelector('.modal-id');

  orderDetailButtons.forEach((orderDetailButton) => {
    orderDetailButton.addEventListener('click', () => {
      const input = orderDetailButton.querySelector('input');

      fetchPaymentData(input.value);
    });
  });

  refundButtons.forEach((refundButton) => {
    refundButton.addEventListener('click', () => {
      const refundInvoiceNumber = refundButton.querySelector('#invoiceNumber');
      const refundBarcode = refundButton.querySelector('#barcode');
      const refundCustomerName = refundButton.querySelector('#customerName');
      const refundCustomerId = refundButton.querySelector('#customerId');
      const refundPayment = refundButton.querySelector('#payment');
      const refundPaymentId = refundButton.querySelector('#paymentId');

      modalInvoiceNumber.value = refundInvoiceNumber.value;
      modalBarcode.value = refundBarcode.value;
      modalCustomerName.value = refundCustomerName.value;
      modalCustomerId.value = refundCustomerId.value;
      modalPayment.value = refundPayment.value;
      modalPaymentId.value = refundPaymentId.value;
    });
  });

  async function fetchPaymentData(paymentId) {
    try {
      const data = await fetch(`https://baharimalangirishpub-app.com/payment/list/details/${paymentId}`);
      const response = await data.json();

      if (response.action === 'topup') {
        offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-warning">${response.action}</span>`;
      } else if (response.action === 'pay') {
        offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-success">${response.action}</span>`;
      } else if (response.action === 'checkout') {
        offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-secondary">${response.action}</span>`;
      } else if (response.action === 'refund') {
        offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-danger">${response.action}</span>`;
      } else {
        offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-primary">${response.action}</span>`;
      }

      if (response.action === 'topup' || response.action === 'pay' || response.action === 'checkout') {
        if (response.invoice_status === 'paid') {
          sendToCustomer.innerHTML = `<input type="text" class="form-control border border-dark" id="receipt" name="receipt" style="width: 60%" required />
          <div class="receipt">
            <input type="hidden" class="form-control" id="paymentId" name="paymentId" required />
          </div>
          <button class="btn btn-secondary mx-1 send-receipt-button" disabled>Send</button>
          <div class="sending-status"></div>`;

          const paymentId = offcanvasRight.querySelector('#paymentId');
          const whatsappNumber = offcanvasRight.querySelector('#receipt');
          paymentId.value = response.id;
          whatsappNumber.value = response.customer_id;
        } else {
          sendToCustomer.innerHTML = '<p class="text-secondary">Receipt Not Available for this report.</p>';
        }
      } else {
        sendToCustomer.innerHTML = '<p class="text-secondary">Receipt Not Available for this report.</p>';
      }

      servedBy.value = response.served_by;
      invoiceNumber.value = response.invoice_number;
      paymentMethod.value = response.payment_method;
      customerName.value = response.customer_name;
      customerId.value = response.customer_id;
      barcode.value = response.barcode;
      payment.value = response.payment;

      if (response.action === 'pay' || response.action === 'refund') {
        orderHeader.classList.remove('visually-hidden');
        orders.classList.remove('visually-hidden');

        let tableRow = '';
        if (response.menu_names && response.menu_names.length) {
          response.menu_names.forEach((menu, i) => {
            tableRow += `<tr>
          <th scope="row">${menu}</th>
          <td>${response.menu_kinds[i]}</td>
          <td>${response.menu_amount[i]}</td>
          <td>`;
            if (response.menu_discounts) {
              if (response.menu_discounts[i]) {
                tableRow += `${response.menu_discount_percents[i]}<span class="ms-1">%</span></td></tr>`;
              } else {
                tableRow += `No</td></tr>`;
              }
            } else {
              tableRow += `No</td></tr>`;
            }
          });
        } else {
          tableRow = 'LIHAT DI MOKA';
        }

        tableBody.innerHTML = tableRow;
      } else {
        orderHeader.classList.add('visually-hidden');
        orders.classList.add('visually-hidden');
      }
      const sendReceiptButton = offcanvasRight.querySelector('.send-receipt-button');
      const sendingStatus = offcanvasRight.querySelector('.sending-status');

      // sendReceiptButton.addEventListener('click', async () => {
      //   const paymentId = offcanvasRight.querySelector('#paymentId');
      //   const whatsappNumber = offcanvasRight.querySelector('#receipt');

      //   sendingStatus.innerHTML = `<div class="spinner-border text-dark" role="status" style="height: 30px; width: 30px">
      //           <span class="visually-hidden">Loading...</span>
      //         </div>`;

      //   try {
      //     const response = await fetch(`http://localhost:3000/support/receipt/${paymentId.value}/whatsapp?number=${whatsappNumber.value}`);

      //     const data = await response.json();

      //     sendingStatus.innerHTML = `<svg style="height: 35px; width: 35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      //           <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      //           <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      //           <g id="SVGRepo_iconCarrier">
      //             <path
      //               fill-rule="evenodd"
      //               clip-rule="evenodd"
      //               d="M19.7071 6.29289C20.0976 6.68342 20.0976 7.31658 19.7071 7.70711L10.4142 17C9.63316 17.7811 8.36683 17.781 7.58579 17L3.29289 12.7071C2.90237 12.3166 2.90237 11.6834 3.29289 11.2929C3.68342 10.9024 4.31658 10.9024 4.70711 11.2929L9 15.5858L18.2929 6.29289C18.6834 5.90237 19.3166 5.90237 19.7071 6.29289Z"
      //               fill="#000000"
      //             ></path>
      //           </g>
      //         </svg>`;
      //   } catch (error) {
      //     console.log(error);
      //     sendingStatus.innerHTML = 'Error';
      //   }
      // });
    } catch (error) {
      console.log(error);
    }
  }
</script>
