<% if (alert) { %>
<div class="container-md my-1">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-dismissible alert-warning fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
    </div>
  </div>
</div>
<% } %>

<div class="container-md mt-1 mb-3">
  <div class="row my-1">
    <div class="col-md mx-auto my-1 px-4">
      <div class="row mt-2">
        <div class="row px-0 pb-3 rounded-3 shadow-sm blurred-box form-row">
          <h3 class="mb-2 px-3 py-3 rounded-top" style="background-color: rgba(139, 196, 250, 0.863)"><strong>Card Details</strong></h3>

          <div class="mb-1 px-3">
            <label for="barcodeInput" class="form-label text-secondary">Barcode</label>
            <input type="text" class="form-control" id="barcodeInput" readonly value="<%= data.barcode %>" />
          </div>

          <div class="mb-1 px-3 col-auto">
            <label for="customerNameInput" class="form-label text-secondary">Name</label>
            <input type="text" class="form-control" id="customerNameInput" value="<%= data.customer_name %>" readonly />
          </div>

          <div class="mb-1 px-3 col-auto">
            <label for="customerIdInput" class="form-label text-secondary">Customer ID</label>
            <input type="text" class="form-control" id="customerIdInput" value="<%= data.customer_id %>" readonly />
          </div>

          <div class="mb-1 px-3">
            <label for="balanceInput" class="form-label text-secondary">Balance</label>
            <input type="text" class="form-control" id="balanceInput" value="<%= Intl.NumberFormat('en-US').format(data.balance) %>" readonly />
            <input type="hidden" class="form-control" id="balanceInputNumber" value="<%= data.balance %>" readonly />
          </div>

          <% if (data.is_member) { %>
          <div class="mb-1 px-3 col-auto">
            <label for="isMember" class="form-label text-secondary">Member Status</label>
            <input type="text" class="form-control text-success fw-bolder" id="isMember" name="isMember" value="yes" readonly />
          </div>
          <% } else { %>
          <div class="mb-1 px-3 col-auto">
            <label for="isMember" class="form-label text-secondary">Member Status</label>
            <input type="text" class="form-control text-danger fw-bolder" id="isMember" name="isMember" value="no" readonly />
          </div>
          <% } %> <% if (data.is_active) { %>
          <div class="mb-1 px-3 col-auto">
            <label for="isActive" class="form-label text-secondary">Activation</label>
            <input type="text" class="form-control text-success fw-bolder" id="isActive" name="isActive" value="active" readonly />
          </div>
          <% } else { %>
          <div class="mb-1 px-3 col-auto">
            <label for="isActive" class="form-label text-secondary">Activation</label>
            <input type="text" class="form-control text-danger fw-bolder" id="isActive" name="isActive" value="inactive" readonly />
          </div>
          <% } %>
        </div>

        <div class="px-0 mt-4 pb-3 fs-3">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="isFromMokaInput" name="isFromMokaInput" />
            <label class="form-check-label" for="isFromMokaInput">Bills from Moka</label>
          </div>
        </div>

        <div class="px-0" id="appInvoice">
          <div class="px-0 mt-4 pb-3 rounded-3 shadow-sm blurred-box">
            <h3 class="px-3 py-3 mb-0 rounded-top" style="background-color: rgba(139, 196, 250, 0.863)"><strong>Menu</strong></h3>

            <div style="background-color: rgb(224, 224, 224)">
              <div class="row px-4 py-2">
                <div class="col p-2 fs-5 fw-bolder">Name</div>
                <div class="col p-2 fs-5 fw-bolder">Variant</div>
                <div class="col p-2 fs-5 fw-bolder">Discount</div>
                <div class="col p-2 fs-5 fw-bolder">Price</div>
                <!-- <div class="p-2 fs-5 fw-normal">Flex item</div> -->
                <div class="col-2 p-2 fs-5 fw-bolder">Amount</div>
              </div>
            </div>

            <div class="overflow-auto" style="max-height: 500px; width: 100%">
              <% fnbs.forEach((fnb) => { %>

              <div class="row px-4 py-3 menu border-bottom border-2 border-dark">
                <div class="col p-2 fs-5 fw-normal menu-name"><%= fnb.menu %></div>
                <div class="col p-2 fs-5 fw-normal menu-kind"><%= fnb.kind %></div>
                <% if (fnb.discount_status) { %>
                <div class="col p-2 fs-5 fw-normal menu-discount"><%= fnb.discount_percent %><span class="ms-1">%</span></div>
                <% } else { %>
                <div class="col p-2 fs-5 fw-normal menu-discount">No</div>
                <% } %>
                <div class="col p-2 fs-5 fw-normal menu-price"><%= fnb.price %></div>
                <div class="col p-2 fs-5 fw-normal menu-id visually-hidden"><%= fnb.id %></div>
                <!-- <div class="p-2 fs-5 fw-normal">Flex item</div> -->
                <div class="col-2 p-2 fs-5 fw-normal">
                  <div class="input-group">
                    <button type="button" class="btn btn-secondary h-20 px-3 py-1 negative" style="display: inline">-</button>
                    <input type="text" aria-label="First name" value="0" class="form-control amount text-center" readonly />
                    <button type="button" class="btn btn-primary h-20 px-3 py-1 positive" style="display: inline">+</button>
                  </div>
                </div>
              </div>

              <% }); %>
            </div>

            <div class="menu-names-and-amount">
              <input type="hidden" class="form-control" id="menuAmountInput" name="menuAmountInput" required />
              <input type="hidden" class="form-control" id="menuIdsInput" name="menuIdsInput" required />
            </div>

            <div class="mb-1 px-3 pt-4">
              <label for="payment" class="form-label text-secondary">Payment (IDR)*</label>
              <input type="text" class="form-control" id="paymentShownInput" readonly />
              <input type="hidden" class="form-control" id="paymentInput" name="paymentInput" readonly />
            </div>
          </div>
        </div>

        <div class="px-0 visually-hidden" id="mokaInvoice">
          <div class="px-0 mt-4 pb-3 rounded-3 shadow-sm blurred-box">
            <h3 class="mb-2 px-3 py-3 rounded-top" style="background-color: rgba(139, 196, 250, 0.863)"><strong>Invoice Details</strong></h3>

            <div class="mb-1 px-3">
              <label for="invoiceNumber" class="form-label text-secondary">Payment Number*</label>
              <input type="text" class="form-control" id="invoiceNumberInput" name="invoiceNumberInput" required disabled />
            </div>

            <div class="mb-1 px-3">
              <label for="payment" class="form-label text-secondary">Payment (IDR)*</label>
              <input type="number" class="form-control" id="paymentInput" name="paymentInput" required disabled />
            </div>
          </div>

          <!-- <div class="row my-4">
              <h3>Moka POS >>></h3>
              <div class="mb-1 d-grid gap-2 moka-data overflow-auto" style="max-height: 300px"></div>
            </div> -->
        </div>
      </div>

      <div class="row my-3 multi-button">
        <div class="col-lg-8 mx-auto text-center">
          <a class="button shadow my-3" href="/payment/search" role="button">Back</a>
          <button class="button shadow my-3 confirm-payment-button" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Pay Now!</button>
          <a class="button shadow my-3" href="/" role="button">Menu</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form action="/payment" method="post">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title text-light" id="exampleModalLabel">Summary</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="px-4">
            <p class="fs-5 fw-normal mb-0">Pay</p>
            <div class="d-flex align-items-center">
              <p class="fs-6 text-secondary fw-normal mb-0" id="customerNameDisplay"></p>
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#77767b" style="width: 20px">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier"><path d="M12 9.5C13.3807 9.5 14.5 10.6193 14.5 12C14.5 13.3807 13.3807 14.5 12 14.5C10.6193 14.5 9.5 13.3807 9.5 12C9.5 10.6193 10.6193 9.5 12 9.5Z" fill="#77767b"></path></g>
              </svg>
              <p class="fs-6 text-secondary fw-normal mb-0" id="customerIdDisplay"></p>
            </div>
            <input type="checkbox" class="form-check-input" id="inputMoka" name="inputMoka" disabled />
            <label class="form-check-label">Bill from Moka</label>
          </div>
          <div class="order-list"></div>

          <br />

          <div class="px-4 py-2 border-top">
            <!-- subtotal -->
            <div class="d-flex align-items-center justify-content-between">
              <p class="fs-6 fw-normal mb-0">Subtotal</p>
              <div class="d-flex">
                <p class="fs-6 fw-normal mb-0">IDR</p>
                <p class="fs-6 fw-normal mb-0 ms-2" id="subtotalDisplay"></p>
              </div>
            </div>

            <!-- service -->
            <!-- <div class="d-flex align-items-center justify-content-between">
            <p class="fs-6 fw-normal mb-0">Service</p>
            <div class="d-flex">
              <p class="fs-6 fw-normal mb-0">IDR</p>
              <p class="fs-6 fw-normal mb-0 ms-2">0</p>
            </div>
          </div> -->

            <!-- Tax -->
            <!-- <div class="d-flex align-items-center justify-content-between">
            <p class="fs-6 fw-normal mb-0">Tax</p>
            <div class="d-flex">
              <p class="fs-6 fw-normal mb-0">IDR</p>
              <p class="fs-6 fw-normal mb-0 ms-2">0</p>
            </div>
          </div> -->

            <!-- Total -->
            <div class="d-flex align-items-center justify-content-between mt-3">
              <p class="fs-6 fw-bolder mb-0">Total</p>
              <div class="d-flex">
                <p class="fs-6 fw-bolder mb-0">IDR</p>
                <p class="fs-6 fw-bolder mb-0 ms-2" id="totalDisplay"></p>
              </div>
            </div>

            <div class="d-flex mt-3">
              <div class="mb-1">
                <input type="text" class="form-control" id="notes" name="notes" placeholder="Note..." />
              </div>
            </div>
          </div>

          <div class="confirmed-inputs">
            <!-- Confirmed Inputs -->
            <input type="hidden" name="barcode" id="barcode" />
            <input type="hidden" name="customerName" id="customerName" />
            <input type="hidden" name="customerId" id="customerId" />
            <input type="hidden" name="payment" id="confirmedPayment" />
            <input type="hidden" name="invoiceNumber" id="invoiceNumber" />
            <input type="hidden" id="collectedBy" name="collectedBy" value="Kasir Bahari" />
            <input type="hidden" id="invoiceStatus" name="invoiceStatus" value="paid" readonly />
            <input type="hidden" name="notes" id="notes" />
            <input type="hidden" id="menuAmount" name="menuAmount" />
            <input type="hidden" id="menuIds" name="menuIds" />
          </div>
        </div>
        <div class="modal-footer">
          <div class="px-3" style="max-width: 200px">
            <input type="password" class="form-control" id="serverCode" name="serverCode" placeholder="Kode Server" required />
          </div>

          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary submit-payment-button">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <script src="/public/script/mokaInvoices.js"></script>
<script src="/public/script/copyMokaInvoices.js"></script> -->
<script src="/public/script/paymentScript.js"></script>
