<% if (alert) { %>
<div class="container-md my-1">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-dismissible alert-warning fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
    </div>
  </div>
</div>
<% } %>

<div class="container-md mt-1 mb-3">
  <div class="row my-1">
    <div class="col-md-9 mx-auto my-1 px-4">
      <form action="/payment" method="post">
        <div class="row mt-2">
          <h3 class="mb-2"><strong>Card Details >>></strong></h3>
          <div class="mb-1">
            <label for="barcode" class="form-label text-secondary">Barcode</label>
            <input type="text" class="form-control" id="barcode" name="barcode" readonly value="<%= data.barcode %>" />
          </div>

          <div class="mb-1 col-auto">
            <label for="customerName" class="form-label text-secondary">Name</label>
            <input type="text" class="form-control" id="customerName" name="customerName" value="<%= data.customer_name %>" readonly />
          </div>

          <div class="mb-1 col-auto">
            <label for="customerId" class="form-label text-secondary">Customer ID</label>
            <input type="text" class="form-control" id="customerId" name="customerId" value="<%= data.customer_id %>" readonly />
          </div>

          <div class="mb-1">
            <label for="balance" class="form-label text-secondary">Balance</label>
            <input type="text" class="form-control" id="balance" name="balance" value="<%= Intl.NumberFormat('en-US').format(data.balance) %>" readonly />
          </div>

          <% if (data.is_member) { %>
          <div class="mb-1 col-auto">
            <label for="isMember" class="form-label text-secondary">Member Status</label>
            <input type="text" class="form-control bg-success text-light" id="isMember" name="isMember" value="yes" readonly />
          </div>
          <% } else { %>
          <div class="mb-1 col-auto">
            <label for="isMember" class="form-label text-secondary">Member Status</label>
            <input type="text" class="form-control bg-danger text-light" id="isMember" name="isMember" value="no" readonly />
          </div>
          <% } %> <% if (data.is_active) { %>
          <div class="mb-1 col-auto">
            <label for="isActive" class="form-label text-secondary">Activation</label>
            <input type="text" class="form-control bg-success text-light" id="isActive" name="isActive" value="active" readonly />
          </div>
          <% } else { %>
          <div class="mb-1 col-auto">
            <label for="isActive" class="form-label text-secondary">Activation</label>
            <input type="text" class="form-control bg-danger text-light" id="isActive" name="isActive" value="inactive" readonly />
          </div>
          <% } %>

          <h3 class="mb-2 mt-5"><strong>Server Name >>></strong></h3>
          <div class="mb-1" id="notificationPopup"></div>

          <div class="mb-1 col-auto">
            <label for="servedBy" class="form-label text-secondary">Served By*</label>
            <select type="text" class="form-select bg-info bg-opacity-50" id="servedBy" name="servedBy" aria-label="Large select example" required>
              <option selected>Tanpa Nama</option>
              <option value="Agil">Agil</option>
              <option value="Gabriel">Gabriel</option>
              <option value="Viktor">Viktor</option>
              <option value="Ika">Ika</option>
              <option value="Andika">Andika</option>
              <option value="Azhar">Azhar</option>
              <option value="Rudy">Rudy</option>
              <option value="Heny">Heny</option>
              <option value="Gaby">Gaby</option>
              <option value="Others">Others...</option>
            </select>
          </div>
          <p class="text-dark"><small>(Mohon pilih sesuai dengan server yang bertugas)</small></p>

          <div class="mb-1 col-auto">
            <!-- <label for="collectedBy" class="form-label text-secondary">Collected By*</label> -->
            <input type="hidden" class="form-control" id="collectedBy" name="collectedBy" value="Kasir Bahari" required />
          </div>

          <h3 class="mb-2 mt-5"><strong>Invoice Details >>></strong></h3>

          <div class="mb-1">
            <label for="invoiceNumber" class="form-label text-secondary">Payment Number*</label>
            <input type="text" class="form-control" id="invoiceNumber" name="invoiceNumber" required />
          </div>

          <div class="mb-1 col-auto">
            <!-- <label for="invoiceStatus" class="form-label text-secondary">Payment Status*</label> -->
            <input type="hidden" class="form-control" id="invoiceStatus" name="invoiceStatus" value="paid" readonly />
          </div>

          <div class="mb-1">
            <label for="payment" class="form-label text-secondary">Payment (IDR)*</label>
            <input type="number" class="form-control" id="payment" name="payment" required />
          </div>
        </div>
        <div class="row my-4">
          <h3>Moka POS >>></h3>
          <div class="mb-1 d-grid gap-2 moka-data overflow-auto" style="max-height: 300px"></div>
        </div>
        <div class="row my-3 multi-button">
          <div class="col-lg-8 mx-auto text-center">
            <a class="button shadow my-3" href="/payment/search" role="button">Back</a>
            <button class="button shadow my-3" type="submit">Pay Now!</button>
            <a class="button shadow my-3" href="/" role="button">Menu</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/public/script/mokaInvoices.js"></script>
<script src="/public/script/copyMokaInvoices.js"></script>
<!-- <script>
  async function getFact() {
    try {
      const response = await axios.get('https://catfact.ninja/fact');
      const mokaData = document.querySelector('.moka-data');
      mokaData.innerHTML = response.data.fact;
    } catch (error) {
      const mokaData = document.querySelector('.moka-data');
      mokaData.innerHTML = `${error}`;
    }
  }

  getFact();
</script> -->
