<div class="container-fluid my-1 px-5">
    <div class="row">
      <div class="col-md">
        <h3>Payment List for Bottles</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <% if (messages) { %>
        <div class="alert alert-dismissible alert-success fade show mb-3">
          <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
          <strong>Congrats!</strong> <%= messages %>
        </div>
        <% } %> <% if (alert) { %>
  
        <div class="alert alert-dismissible alert-warning fade show mb-3">
          <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
          <strong>Oh no!</strong> <%= alert %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <div class="container-fluid px-5">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <form action="/payment/download?bottle=true" method="post" class="row g-3 float-end">
          <div class="mb-1 col-md"><p class="m-0">from</p></div>
          <div class="mb-1 col-md">
            <input class="form-control" type="datetime-local" name="archiveFrom" id="archiveFrom" />
          </div>
          <div class="mb-1 col-md"><p class="m-0">to</p></div>
          <div class="mb-1 col-md">
            <input class="form-control" type="datetime-local" name="archiveTo" id="archiveTo" />
          </div>
          <div class="mb-1 col-md"><button type="submit" class="btn btn-info">Download</button></div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid my-1 px-5">
    <div class="row">
      <div class="col-md mx-auto table-responsive" style="max-height: 550px">
        <table class="table table-sm" style="font-size: small">
          <thead>
            <tr class="table-warning" style="position: sticky; top: 0">
              <th scope="col">Served By</th>
              <th scope="col">Invoice</th>
              <th scope="col">Barcode</th>
              <th scope="col">Customer Name</th>
              <th scope="col">Customer Id</th>
              <th scope="col">Orders</th>
              <th scope="col">Payment(IDR)</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((element,i) => { %> <% if (i % 2 === 0) { %> <% if(element.invoice_status === 'refund') { %>
            <tr class="table-info text-danger">
              <th scope="row"><%= element.served_by %></th>
              <td><%= element.invoice_number %></td>
              <td><%= element.barcode %></td>
              <td><%= element.customer_name %></td>
              <td><%= element.customer_id %></td>
              <td>
                <table class="table border-dark">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col">Name</th>
                      <th scope="col">Variant</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Discount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% element.menu_names.forEach((menu, j) => { %>
                      <tr>
                        <td><%= element.menu %></td>
                        <td><%= element.menu_kinds[j] %></td>
                        <td><%= element.menu_amount[j] %></td>
                        <td>
                          <% if (element.menu_discounts[j]) { %>
                            <%= element.menu_discount_percents[j] %>
                          <% } else { %>
                            No
                          <% } %>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </td>
              <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
              <td><%= element.created_at.toLocaleString() %></td>
            </tr>
            <% } else { %>
            <tr class="table-info">
              <th scope="row"><%= element.served_by %></th>
              <td><%= element.invoice_number %></td>
              <td><%= element.barcode %></td>
              <td><%= element.customer_name %></td>
              <td><%= element.customer_id %></td>
              <td>
                <table class="table border-dark">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col">Name</th>
                      <th scope="col">Variant</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Discount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% element.menu_names.forEach((menu, j) => { %>
                      <tr>
                        <td><%= element.menu %></td>
                        <td><%= element.menu_kinds[j] %></td>
                        <td><%= element.menu_amount[j] %></td>
                        <td>
                          <% if (element.menu_discounts[j]) { %>
                            <%= element.menu_discount_percents[j] %>
                          <% } else { %>
                            No
                          <% } %>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </td>
              <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
              <td><%= element.created_at.toLocaleString() %></td>
            </tr>
            <% } %> <% } else { %> <% if(element.invoice_status === 'refund') { %>
            <tr class="table-light text-danger">
              <th scope="row"><%= element.served_by %></th>
              <td><%= element.invoice_number %></td>
              <td><%= element.barcode %></td>
              <td><%= element.customer_name %></td>
              <td><%= element.customer_id %></td>
              <td>
                <table class="table border-dark">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col">Name</th>
                      <th scope="col">Variant</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Discount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% element.menu_names.forEach((menu, j) => { %>
                      <tr>
                        <td><%= element.menu %></td>
                        <td><%= element.menu_kinds[j] %></td>
                        <td><%= element.menu_amount[j] %></td>
                        <td>
                          <% if (element.menu_discounts[j]) { %>
                            <%= element.menu_discount_percents[j] %>
                          <% } else { %>
                            No
                          <% } %>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </td>
              <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
              <td><%= element.created_at.toLocaleString() %></td>
            </tr>
            <% } else { %>
            <tr class="table-light">
              <th scope="row"><%= element.served_by %></th>
              <td><%= element.invoice_number %></td>
              <td><%= element.barcode %></td>
              <td><%= element.customer_name %></td>
              <td><%= element.customer_id %></td>
              <td>
                <table class="table border-dark">
                  <thead>
                    <tr class="table-secondary">
                      <th scope="col">Name</th>
                      <th scope="col">Variant</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Discount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% element.menu_names.forEach((menu, j) => { %>
                      <tr>
                        <td><%= element.menu %></td>
                        <td><%= element.menu_kinds[j] %></td>
                        <td><%= element.menu_amount[j] %></td>
                        <td>
                          <% if (element.menu_discounts[j]) { %>
                            <%= element.menu_discount_percents[j] %>
                          <% } else { %>
                            No
                          <% } %>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              </td>
              <td><%= Intl.NumberFormat('en-US').format(element.payment) %></td>
              <td><%= element.created_at.toLocaleString() %></td>
            </tr>
            <% } %> <% } %> <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <% if (page) { %>
    <div class="row my-3">
      <div class="col-md">
        <nav aria-label="...">
          <ul class="pagination justify-content-center">
            <% if (page === '1') { %>
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=<%= parseInt(page,10) - 1 %>">Previous</a>
            </li>
            <% } %> <% if (page === '1') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">1</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=1">1</a>
            </li>
            <% } %> <% if (page === '2') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">2</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=2">2</a>
            </li>
            <% } %> <% if (page === '3') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">3</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=3">3</a>
            </li>
            <% } %> <% if (page === '4') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">4</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=4">4</a>
            </li>
            <% } %> <% if (page === '5') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">5</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=5">5</a>
            </li>
            <% } %> <% if (page === '6') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">6</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=6">6</a>
            </li>
            <% } %> <% if (page === '7') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">7</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=7">7</a>
            </li>
            <% } %> <% if (page === '8') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">8</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=8">8</a>
            </li>
            <% } %> <% if (page === '9') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">9</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=9">9</a>
            </li>
            <% } %> <% if (page === '10') { %>
            <li class="page-item active" aria-current="page">
              <span class="page-link">10</span>
            </li>
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=10">10</a>
            </li>
            <% } %> <% if (page === '10') { %>
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
  
            <% } else { %>
            <li class="page-item">
              <a class="page-link" href="/payment/bottle/list?page=<%= parseInt(page,10) + 1 %>">Next</a>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
    <% } %>
    <div class="row my-5 multi-button">
      <div class="col-md-8 mx-auto text-center">
        <a class="button shadow" href="/advanced" role="button">Back</a>
      </div>
    </div>
  </div>
  
  <div class="offcanvas offcanvas-end px-3" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="width: 35%">
    <div class="offcanvas-header">
      <h3 id="offcanvasRightLabel"></h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="row">
        <div class="col-md">
          <h5>Cashier</h5>
          <div class="input-group mb-3">
            <span class="input-group-text">Served By</span>
            <input type="text" class="form-control" id="servedBy" disabled />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Invoice</span>
            <input type="text" class="form-control" id="invoiceNumber" disabled />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Method</span>
            <input type="text" class="form-control" id="paymentMethod" disabled />
          </div>
          <h5>Customer</h5>
          <div class="input-group mb-3">
            <span class="input-group-text">Name</span>
            <input type="text" class="form-control" id="customerName" disabled />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">ID</span>
            <input type="text" class="form-control" id="customerId" disabled />
          </div>
          <h5>Card</h5>
          <div class="input-group mb-3">
            <span class="input-group-text">Barcode</span>
            <input type="text" class="form-control" id="barcode" disabled />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Total Payment</span>
            <input type="text" class="form-control" id="payment" disabled />
          </div>
        </div>
      </div>
      <h5 class="order-header">Orders</h5>
      <table class="table border-dark orders">
        <thead>
          <tr class="table-secondary">
            <th scope="col">Name</th>
            <th scope="col">Variant</th>
            <th scope="col">Amount</th>
            <th scope="col">Discount</th>
          </tr>
        </thead>
        <tbody class="order-body"></tbody>
      </table>
  
      <div class="row mt-5 mb-3" style="opacity: 0.5">
        <div class="col-md d-flex">
          <div class="px-2 on-progress">Upcoming</div>
          <h5 class="mx-1">Send To The Customer</h5>
        </div>
        <div class="d-flex flex-row send-to-customer"></div>
      </div>
  
      <button class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Back</button>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="refundModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/payment/bottle/list/refund" method="post">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="refundModalLabel">Refund Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text">Invoice Number</span>
              <input type="text" class="form-control modal-invoice-number" aria-label="InvoiceNumber" name="invoiceNumber" readonly />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Card</span>
              <input type="text" class="form-control modal-barcode" aria-label="Card" name="barcode" readonly />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Customer Name</span>
              <input type="text" class="form-control modal-customer-name" aria-label="CustomerName" name="customerName" readonly />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Customer ID</span>
              <input type="text" class="form-control modal-customer-id" aria-label="CustomerId" name="customerId" readonly />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Total Payment</span>
              <input type="number" class="form-control modal-payment" aria-label="TotalPayment" name="refund" readonly />
              <input type="hidden" class="form-control modal-id" name="paymentId" />
            </div>
            <p class="mt-5">Refund required Server Code to confirm.</p>
            <div class="input-group mb-3">
              <span class="input-group-text">Server Code</span>
              <input type="password" class="form-control modal-server-code" aria-label="ServerCode" name="serverCode" />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Refund</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    const offcanvasRight = document.querySelector('#offcanvasRight');
    const servedBy = offcanvasRight.querySelector('#servedBy');
    const invoiceNumber = offcanvasRight.querySelector('#invoiceNumber');
    const paymentMethod = offcanvasRight.querySelector('#paymentMethod');
    const customerName = offcanvasRight.querySelector('#customerName');
    const customerId = offcanvasRight.querySelector('#customerId');
    const barcode = offcanvasRight.querySelector('#barcode');
    const payment = offcanvasRight.querySelector('#payment');
    const sendToCustomer = offcanvasRight.querySelector('.send-to-customer');
  
    const orders = offcanvasRight.querySelector('.orders');
    const orderDetailButtons = document.querySelectorAll('.order-detail-button');
    const tableBody = offcanvasRight.querySelector('.order-body');
    const offcanvasHeader = offcanvasRight.querySelector('#offcanvasRightLabel');
    const orderHeader = offcanvasRight.querySelector('.order-header');
  
    const refundButtons = document.querySelectorAll('.refund-button');
    const refundModal = document.querySelector('#refundModal');
    const modalInvoiceNumber = refundModal.querySelector('.modal-invoice-number');
    const modalBarcode = refundModal.querySelector('.modal-barcode');
    const modalCustomerName = refundModal.querySelector('.modal-customer-name');
    const modalCustomerId = refundModal.querySelector('.modal-customer-id');
    const modalPayment = refundModal.querySelector('.modal-payment');
    const modalPaymentId = refundModal.querySelector('.modal-id');
  
    orderDetailButtons.forEach((orderDetailButton) => {
      orderDetailButton.addEventListener('click', () => {
        const input = orderDetailButton.querySelector('input');
  
        fetchPaymentData(input.value);
      });
    });
  
    refundButtons.forEach((refundButton) => {
      refundButton.addEventListener('click', () => {
        const refundInvoiceNumber = refundButton.querySelector('#invoiceNumber');
        const refundBarcode = refundButton.querySelector('#barcode');
        const refundCustomerName = refundButton.querySelector('#customerName');
        const refundCustomerId = refundButton.querySelector('#customerId');
        const refundPayment = refundButton.querySelector('#payment');
        const refundPaymentId = refundButton.querySelector('#paymentId');
  
        modalInvoiceNumber.value = refundInvoiceNumber.value;
        modalBarcode.value = refundBarcode.value;
        modalCustomerName.value = refundCustomerName.value;
        modalCustomerId.value = refundCustomerId.value;
        modalPayment.value = refundPayment.value;
        modalPaymentId.value = refundPaymentId.value;
      });
    });
  
    async function fetchPaymentData(paymentId) {
      try {
        const data = await fetch(`https://baharimalangirishpub-app.com/payment/list/details/${paymentId}`);
        const response = await data.json();
  
        if (response.action === 'topup') {
          offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-warning">${response.action}</span>`;
        } else if (response.action === 'pay') {
          offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-success">${response.action}</span>`;
        } else if (response.action === 'checkout') {
          offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-secondary">${response.action}</span>`;
        } else if (response.action === 'refund') {
          offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-danger">${response.action}</span>`;
        } else {
          offcanvasHeader.innerHTML = `Payment Details<span class="mx-2 badge bg-primary">${response.action}</span>`;
        }
  
        if (response.action === 'topup' || response.action === 'pay' || response.action === 'checkout') {
          if (response.invoice_status === 'paid') {
            sendToCustomer.innerHTML = `<input type="text" class="form-control border border-dark" id="receipt" name="receipt" style="width: 60%" required />
            <div class="receipt">
              <input type="hidden" class="form-control" id="paymentId" name="paymentId" required />
            </div>
            <button class="btn btn-secondary mx-1 send-receipt-button" disabled>Send</button>
            <div class="sending-status"></div>`;
  
            const paymentId = offcanvasRight.querySelector('#paymentId');
            const whatsappNumber = offcanvasRight.querySelector('#receipt');
            paymentId.value = response.id;
            whatsappNumber.value = response.customer_id;
          } else {
            sendToCustomer.innerHTML = '<p class="text-secondary">Receipt Not Available for this report.</p>';
          }
        } else {
          sendToCustomer.innerHTML = '<p class="text-secondary">Receipt Not Available for this report.</p>';
        }
  
        servedBy.value = response.served_by;
        invoiceNumber.value = response.invoice_number;
        paymentMethod.value = response.payment_method;
        customerName.value = response.customer_name;
        customerId.value = response.customer_id;
        barcode.value = response.barcode;
        payment.value = response.payment;
  
        if (response.action === 'pay' || response.action === 'refund') {
          orderHeader.classList.remove('visually-hidden');
          orders.classList.remove('visually-hidden');
  
          let tableRow = '';
          if (response.menu_names && response.menu_names.length) {
            response.menu_names.forEach((menu, i) => {
              tableRow += `<tr>
            <th scope="row">${menu}</th>
            <td>${response.menu_kinds[i]}</td>
            <td>${response.menu_amount[i]}</td>
            <td>`;
              if (response.menu_discounts) {
                if (response.menu_discounts[i]) {
                  tableRow += `${response.menu_discount_percents[i]}<span class="ms-1">%</span></td></tr>`;
                } else {
                  tableRow += `No</td></tr>`;
                }
              } else {
                tableRow += `No</td></tr>`;
              }
            });
          } else {
            tableRow = 'LIHAT DI MOKA';
          }
  
          tableBody.innerHTML = tableRow;
        } else {
          orderHeader.classList.add('visually-hidden');
          orders.classList.add('visually-hidden');
        }
      } catch (error) {
        console.log(error);
      }
    }
  </script>
  