<% if (alert) { %>
<div class="container-md my-1">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="alert alert-dismissible alert-warning fade show mb-3">
        <button type="button" class="btn-close" data-mdb-toggle="animation" data-mdb-animation="slide-right" data-mdb-animation-start="onLoad" data-bs-dismiss="alert"></button>
        <strong>Oh no!</strong> <%= alert %>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class="container my-1">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h3>Top-Up Card</h3>
    </div>
  </div>
</div>
<div class="container-md mt-1 mb-3">
  <div class="row my-1">
    <div class="col-md-9 mx-auto my-1 px-4">
      <form action="/topup" method="post">
        <div class="row">
          <div class="mb-1">
            <label for="barcode" class="form-label text-secondary">Card</label>
            <input type="text" class="form-control" id="barcode" name="barcode" readonly value="<%= data.barcode %>" />
          </div>

          <div class="mb-1">
            <label for="name" class="form-label text-secondary">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= data.customer_name %>" readonly />
          </div>

          <div class="mb-1">
            <label for="balance" class="form-label text-secondary">Balance</label>
            <input type="text" class="form-control" id="balance" name="balance" value="<%= Intl.NumberFormat('en-US').format(data.balance) %>" readonly />
          </div>

          <div class="mb-1 col-auto">
            <label for="isMember" class="form-label text-secondary">Member Status</label>
            <input type="text" class="form-control" id="isMember" name="isMember" value="<%= data.is_member %>" readonly />
          </div>

          <% if (data.is_active) { %>
          <div class="mb-1 col-auto">
            <label for="isActive" class="form-label text-secondary">Activation</label>
            <input type="text" class="form-control bg-success text-light" id="isActive" name="isActive" value="<%= data.is_active %>" readonly />
          </div>
          <% } else { %>
          <div class="mb-1 col-auto">
            <label for="isActive" class="form-label text-secondary">Activation</label>
            <input type="text" class="form-control bg-danger text-light" id="isActive" name="isActive" value="<%= data.is_active %>" readonly />
          </div>
          <% } %> <% if (data.dine_in) { %>
          <div class="mb-1 col-auto">
            <label for="dineIn" class="form-label text-secondary">Dine In</label>
            <input type="text" class="form-control bg-success text-light" id="dineIn" name="dineIn" value="<%= data.dine_in %>" readonly />
          </div>
          <% } else { %>
          <div class="mb-1 col-auto">
            <label for="dineIn" class="form-label text-secondary">Dine In</label>
            <input type="text" class="form-control bg-danger text-light" id="dineIn" name="dineIn" value="<%= data.dine_in %>" readonly />
          </div>

          <% } %>

          <div class="mb-1">
            <label for="addBalance" class="form-label text-secondary">Add Balance</label>
            <input type="text" class="form-control" id="addBalance" name="addBalance" autofocus="autofocus" required />
          </div>
        </div>
        <div class="row my-5 multi-button">
          <div class="col-lg-8 mx-auto text-center">
            <a class="button shadow my-3" href="/topup/search" role="button">Back</a>

            <button class="button shadow my-3" type="submit">Top-Up Now!</button>

            <a class="button shadow my-3" href="/" role="button">Menu</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
